<div class="layout_padding footer_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer_logo"><img src="assets/images/footer-logo.png"></div>
                <p class="dolor_text">With videoads, find the right deal on the reference site for classifieds from individual to individual and professionals</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <h1 class="quick_text">Quick links</h1>
                <div class="chevron_arrow"><img src="assets/images/chevron-arrow.png"><span class="padding-left">Join Us</span></div>
                <div class="chevron_arrow"><img src="assets/images/chevron-arrow.png"><span class="padding-left">Maintenance</span></div>
                <div class="chevron_arrow"><img src="assets/images/chevron-arrow.png"><span class="padding-left">Language Packs</span></div>
                <div class="chevron_arrow"><img src="assets/images/chevron-arrow.png"><span class="padding-left">LearnPress</span></div>
                <div class="chevron_arrow"><img src="assets/images/chevron-arrow.png"><span class="padding-left">Release Status</span></div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <h1 class="subscribe_text">Subcribe email</h1>
                <p class="ipsum_text">Sign up here for great marketing content from videoads! We're committed to your privacy. videoads uses the information you provide to us to contact you about our relevant …</p>
                <input type="text" class="email_text" placeholder="Your Email" name="Name">
                <button class="submit_text">Submit</button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <h1 class="quick_text">Contact Us</h1>
                <div class="map_flag"><img src="assets/images/map-flag.png"><span class="padding-left">London 145 United Kingdom</span></div>
                <div class="map_flag"><img src="assets/images/email-icon.png"><span class="padding-left">omarzoubigmail.com</span></div>
                <div class="map_flag"><img src="assets/images/phone-icon.png"><span class="padding-left">+216 25 223 4456</span></div>
            </div>
        </div>
    </div>
</div>