  <!-- about section start -->
  <div class="layout_padding about_section margin_0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="about_taital">About Our Classified ads</h1>
          <p class="lorem_text">With videoads, find the right deal on the reference site for classifieds from individual to individual and professionals. With millions of classifieds, find the right opportunity in our categories cars, jobs, clothing, electronics, pets, sport and much more. Place a free ad with ease to sell, search, donate your second-hand goods or promote your services. Buy safely</p>
        </div>
      </div>
    </div>
  </div>
<!-- about section end -->